// out: main.css

@color1: #3d4e79;
@color2: #6b7c93;

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

body {
    background-color: #fff;
	background-image: url('/images/line1.png');
	background-position: top right;
	background-repeat: no-repeat;
	// background: url('/images/line1.png') top right no-repeat, url('/images/line2.png') 20% left no-repeat;
	// background-color: #fff;
	// background-image: url('/images/line1.png'), url('/images/line2.png');
	// background-position: top right, center left;
	// background-repeat: no-repeat, no-repeat;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Segoe UI";
}

.placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

input {
	.placeholder({
		color: #6881aa;
		font-weight: lighter;
		opacity: 0.6;
	})
}

.cont {
    max-width: 1360px;
    margin: 0 auto;
	position: relative;
	z-index: 2;

	@media(max-width: 1360px) {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 15px;
	}

}

header {

    padding-top: 30px;
    &:after {
        display: block;
        content: "";
        clear: both;
    }

    .side {
        width: 50%;
        height: 46px;
    }

    .side-left {
        float: left;
    }

    .side-right {
        float: left;
        text-align: right;

        a, form {
            display: inline-block;
        }

        a {
            font-size: 17px;
            color: #3d4e79;
            text-decoration: none;
            line-height: 46px;
            padding-right: 63px;
        }

        form {

            input, button {
                height: 46px;
                line-height: 46px;
                margin: 0;
                padding: 0;
                .border-radius(8px);
                font-size: 20px;
                font-family: "Segoe UI";
                outline: none;
            }

            input {
                border: 1px solid #d5e3f9;
                border-right: none;
                padding-left: 20px;
                padding-right: 20px;
				max-width: 200px;
            }

            button {
                background: #ffda00;
                color: #2f17bb;
                border: none;
                margin-left: -20px;
				width: 154px;
                font-weight: bold;
            }
        }

    }

	@media(max-width: 767px) {
		.side-left {
			display: none;
		}
		.side-right {
			float: none;
			width: 100%;
			padding: 0;
		}
	}

	@media(max-width: 480px) {
		.side-right {
			a {
	            font-size: 14px;
	            padding-right: 63px;
				display: none;
	        }
			form {

	            input, button {
	                height: 36px;
	                line-height: 36px;
	                .border-radius(4px);
	                font-size: 16px;
	            }

	            input {
					max-width: 160px;
	            }

	            button {
					width: 120px;
	            }
	        }
		}
	}

}

.block {

}

.block-1 {
    padding-top: 70px;
    background: url('/images/block1.png');
    background-repeat: no-repeat;
    background-position: 100% 70px;
	@media(max-width: 1360px) {
		background-size: 50%;
	    background-position: 120% 120px;
		overflow: visible;
	}
	@media(max-width: 480px) {
		background: none;
	}

    h2 {
        margin: 0;
        padding: 0;
        padding-top: 105px;
        font-size: 52px;
        font-weight: normal;
        max-width: 620px;
        color: @color1;
		@media(max-width: 1360px) {
			font-size: 36px;
		}
		@media(max-width: 480px) {
			font-size: 28px;
		}
    }

    p {
        margin: 0;
        padding: 0;
        padding-top: 25px;
        max-width: 620px;
        font-size: 26px;
        color: @color1;
		@media(max-width: 1360px) {
			font-size: 18px;
		}
		@media(max-width: 480px) {
			font-size: 16px;
		}

    }

    form {

        padding-top: 38px;

        input, button {
            height: 46px;
            line-height: 46px;
            margin: 0;
            padding: 0;
            border-radius: 8px;
            font-size: 20px;
            font-family: "Segoe UI";
            outline: none;
        }

        input {
            border: 1px solid #0083cb;
            border-right: none;
            padding-left: 20px;
            padding-right: 20px;
        }

        button {
            background: #7e45fe;
            color: #fff;
            width:206px;
            border: none;
            margin-left: -20px;
            font-weight: normal;
        }

		@media(max-width: 480px) {
			input, button {
				padding: 0;
				margin: 0;
				display: block;
				width: 100%;
				margin: 0 auto;
			}
			input {
	            border: 1px solid #0083cb;
				padding: 0 20px;
	        }
			button {
				margin-top: 20px;
			}
		}

    }

    .benefits {
        padding-top: 25px;
        span {
            padding-left: 14px;
            padding-right: 20px;
            position: relative;
            font-size: 17px;
            color: @color1;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
            &:after {
                content: "•";
                color: #00aaa4;
                position: absolute;
                display: block;
                right: 0;
                top: 0;
            }
        }
		@media(max-width: 480px) {
			display: inline-block;
			span {
				font-size: 12px;
				padding-left: 8px;
	            padding-right: 14px;
			}
		}
    }

	.benefits .benefits-container {
		@media(max-width: 480px) {
			text-align: center;
		}
	}

    .partners {
        padding-top: 160px;
        text-align: justify;
        -moz-text-align-last: justify;
        -webkit-text-align-last: justify; /* not implemented yet, and will not be */
        text-align-last: justify; /* IE */
        .item {
            display: inline-block;
        }
		@media(max-width: 1360px) {
	        padding-top: 120px;
			text-align: center;
	        -moz-text-align-last: center;
	        -webkit-text-align-last: center; /* not implemented yet, and will not be */
	        text-align-last: center; /* IE */
			.item {
				padding: 10px;
				// display: block;
				// float: left;
				// width: 16.6%;
				// img {
				// 	max-width: 90px;
				// 	width: 100%;
				// }
			}
		}
		@media(max-width: 480px) {
			padding-top: 40px;
			.item {
				margin: 0;
				padding: 0 10px 10px 10px;
				display: inline-block;
				width: 48%;
				img {
					width: 100%;
				}
			}
		}
    }


	@media(max-width: 767px) {
		padding-top: 40px;
		background-size: 50%;
	    background-position: 120% 60px;
		overflow: visible;
		h2 {
			padding-top: 40px;
		}
	}

	@media(max-width: 480px) {
		padding-top: 0;
	}

}

.block-2 {
    .profits {
        padding-top: 58px;
        .item {
			background: #fff;
            padding: 54px 30px 0 30px;
            .border-radius(8px);
            .drop-shadow(1px, 0px, 4px, 1px, 0.1);
            color: #ccc;
            height: 400px;
            .title {
                padding-top: 24px;
                font-size: 30px;
                color: #3d4e79;
                margin-right: -30px;
                // white-space: nowrap;
            }
            .text {
                padding-top: 10px;
                font-size: 18px;
                color: @color2;
            }
        }
		@media(max-width: 1360px) {
            .item {
				height: 450px;
				img {
					max-width: 80px;
				}
				.title {
					font-size: 26px;
				}
	            .text {
	                font-size: 16px;
	            }
			}
		}

		@media(max-width: 767px) {
			.item {
				height: auto;
				margin-bottom: 20px;
				padding-bottom: 20px;
				padding-top: 20px;
			}
		}

		@media(max-width: 480px) {
			.item {
				img {
					max-width: 60px;
				}
				.title {
					font-size: 21px;
					line-height: normal;
				}
				.text {
					font-size: 14px;
				}
			}
		}
    }
}

.block-3 {
    padding-top: 84px;
    .title {
        font-size: 40px;
        color: @color1;
        text-align: center;
		padding-bottom: 45px;
		@media(max-width: 480px) {
			font-size: 28px;
			padding-bottom: 20px;
		}
    }
	@media(max-width: 767px) {
		padding-top: 40px;
	}
    .features {
        padding-top: 21px;
		padding-left: 33px;
        max-width: 600px;
        .item {
            padding-top: 50px;
            &:first-child {
                padding-top: 0;
            }
            img, span {
                display: inline-block;
                vertical-align: bottom;
            }
            img {
                padding-right: 26px;
            }
            span {
                font-size: 24px;
                text-transform: uppercase;
                color: @color1;
            }
            div {
                padding-top: 20px;
                font-size: 18px;
                color: @color2;
            }
        }

		@media(max-width: 1360px) {
			max-width: 400px;
			.item {
				img {
	                max-width: 80px;
	            }
				span {
					font-size: 18px;
				}
				div {
					font-size: 16px;
				}
			}
		}

		@media(max-width: 767px) {
			max-width: 80%;
		}

		@media(max-width: 480px) {
        	max-width: none;
			width: 100%;
			padding-left: 0;
			.item {
				img {
					max-width: 60px;
					padding-right: 18px;
				}
				span {
					font-size: 16px;
				}
				div {
					font-size: 14px;
				}
			}
		}

    }
    .box {
        text-align: center;
        position: relative;
		padding-right: 60px;
        img {
            display: inline-block;
        }
        .try-container {
            position: absolute;
            top: 194px;
            left: 0;
            width: 100%;
            padding-left: 17px;
            padding-right: 44px;
            div {
                font-size: 70px;
                text-align: center;
                max-width: 370px;
                margin: 0 auto;
                // padding-left: 30px;
                color: #678bee;
            }
        }
        button {
            margin-top: 70px;
            background-color: #7a48fb;
            border-radius: 8px;
            min-width: 314px;
            font-size: 28px;
            line-height: 68px;
            color: #fff;
            font-weight: bold;
            border: none;
        }

		@media(max-width: 1360px) {
			max-width: 500px;
			.try-container {
            	top: 136px;
	            padding-right: 86px;
				div {
					width: 60%;
					font-size: 40px;
				}
			}
		}
		@media(max-width: 767px) {
			max-width: none;
			width: 100%;
			padding-right: 0;
			padding-top: 40px;
			.try-container {
				position: static;
				padding: 0;
				margin: 0;
				width: 100%;
			}
			button {
				margin-top: 30px;
			}
		}
		@media(max-width: 480px) {
			.try-container {
				div {
					width: 100%;
					font-size: 28px;
				}
				button {
					width: 100%;
					min-width: 0;
					height: 46px;
					line-height: 46px;
					font-size: 20px;
				}
			}
		}
    }
}

footer {
	background-color: #f6f9fc;
	min-height: 174px;
	padding-top: 24px;
	margin-top: 100px;

	.logo {

	}

	.text {
		padding-top: 18px;
		padding-left: 40px;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0.05em;
		font-weight: lighter;
		color: @color2;
	}

	.social {
		padding-top: 20px;
		.item {
			float: right;
			padding-left: 21px;
		}
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}

	.rights {
		padding-top: 50px;
		font-size: 15px;
		color: @color2;
		font-weight: lighter;
		text-align: right;
	}

	@media(max-width: 767px) {
		.logo, .social, .rights {
			text-align: center;
		}
		.text {
			padding-left: 0;
			text-align: center;
		}
		.social .item {
			float: none;
			display: inline-block;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	@media(max-width: 480px) {
		margin-top: 60px;
		.text {
			font-size: 12px;
			line-height: normal;
		}
	}


}

.line {
	position: absolute;
	z-index: 1;
	&.line2 {
		top: 820px;
		left: 0;
	}
	&.line3 {
		top: 1450px;
		right: 30px;
	}
}
