body {
  background-color: #fff;
  background-image: url('/images/line1.png');
  background-position: top right;
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Segoe UI";
}
input::-webkit-input-placeholder {
  color: #6881aa;
  font-weight: lighter;
  opacity: 0.6;
}
input:-moz-placeholder {
  color: #6881aa;
  font-weight: lighter;
  opacity: 0.6;
}
input::-moz-placeholder {
  color: #6881aa;
  font-weight: lighter;
  opacity: 0.6;
}
input:-ms-input-placeholder {
  color: #6881aa;
  font-weight: lighter;
  opacity: 0.6;
}
.cont {
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 1360px) {
  .cont {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
header {
  padding-top: 30px;
}
header:after {
  display: block;
  content: "";
  clear: both;
}
header .side {
  width: 50%;
  height: 46px;
}
header .side-left {
  float: left;
}
header .side-right {
  float: left;
  text-align: right;
}
header .side-right a,
header .side-right form {
  display: inline-block;
}
header .side-right a {
  font-size: 17px;
  color: #3d4e79;
  text-decoration: none;
  line-height: 46px;
  padding-right: 63px;
}
header .side-right form input,
header .side-right form button {
  height: 46px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 20px;
  font-family: "Segoe UI";
  outline: none;
}
header .side-right form input {
  border: 1px solid #d5e3f9;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 200px;
}
header .side-right form button {
  background: #ffda00;
  color: #2f17bb;
  border: none;
  margin-left: -20px;
  width: 154px;
  font-weight: bold;
}
@media (max-width: 767px) {
  header .side-left {
    display: none;
  }
  header .side-right {
    float: none;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  header .side-right a {
    font-size: 14px;
    padding-right: 63px;
    display: none;
  }
  header .side-right form input,
  header .side-right form button {
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 16px;
  }
  header .side-right form input {
    max-width: 160px;
  }
  header .side-right form button {
    width: 120px;
  }
}
.block-1 {
  padding-top: 70px;
  background: url('/images/block1.png');
  background-repeat: no-repeat;
  background-position: 100% 70px;
}
@media (max-width: 1360px) {
  .block-1 {
    background-size: 50%;
    background-position: 120% 120px;
    overflow: visible;
  }
}
@media (max-width: 480px) {
  .block-1 {
    background: none;
  }
}
.block-1 h2 {
  margin: 0;
  padding: 0;
  padding-top: 105px;
  font-size: 52px;
  font-weight: normal;
  max-width: 620px;
  color: #3d4e79;
}
@media (max-width: 1360px) {
  .block-1 h2 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .block-1 h2 {
    font-size: 28px;
  }
}
.block-1 p {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  max-width: 620px;
  font-size: 26px;
  color: #3d4e79;
}
@media (max-width: 1360px) {
  .block-1 p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .block-1 p {
    font-size: 16px;
  }
}
.block-1 form {
  padding-top: 38px;
}
.block-1 form input,
.block-1 form button {
  height: 46px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Segoe UI";
  outline: none;
}
.block-1 form input {
  border: 1px solid #0083cb;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
}
.block-1 form button {
  background: #7e45fe;
  color: #fff;
  width: 206px;
  border: none;
  margin-left: -20px;
  font-weight: normal;
}
@media (max-width: 480px) {
  .block-1 form input,
  .block-1 form button {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .block-1 form input {
    border: 1px solid #0083cb;
    padding: 0 20px;
  }
  .block-1 form button {
    margin-top: 20px;
  }
}
.block-1 .benefits {
  padding-top: 25px;
}
.block-1 .benefits span {
  padding-left: 14px;
  padding-right: 20px;
  position: relative;
  font-size: 17px;
  color: #3d4e79;
}
.block-1 .benefits span:first-child {
  padding-left: 0;
}
.block-1 .benefits span:last-child {
  padding-right: 0;
}
.block-1 .benefits span:last-child:after {
  display: none;
}
.block-1 .benefits span:after {
  content: "•";
  color: #00aaa4;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}
@media (max-width: 480px) {
  .block-1 .benefits {
    display: inline-block;
  }
  .block-1 .benefits span {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 14px;
  }
}
@media (max-width: 480px) {
  .block-1 .benefits .benefits-container {
    text-align: center;
  }
}
.block-1 .partners {
  padding-top: 160px;
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  /* not implemented yet, and will not be */
  text-align-last: justify;
  /* IE */
}
.block-1 .partners .item {
  display: inline-block;
}
@media (max-width: 1360px) {
  .block-1 .partners {
    padding-top: 120px;
    text-align: center;
    -moz-text-align-last: center;
    -webkit-text-align-last: center;
    /* not implemented yet, and will not be */
    text-align-last: center;
    /* IE */
  }
  .block-1 .partners .item {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .block-1 .partners {
    padding-top: 40px;
  }
  .block-1 .partners .item {
    margin: 0;
    padding: 0 10px 10px 10px;
    display: inline-block;
    width: 48%;
  }
  .block-1 .partners .item img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .block-1 {
    padding-top: 40px;
    background-size: 50%;
    background-position: 120% 60px;
    overflow: visible;
  }
  .block-1 h2 {
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .block-1 {
    padding-top: 0;
  }
}
.block-2 .profits {
  padding-top: 58px;
}
.block-2 .profits .item {
  background: #fff;
  padding: 54px 30px 0 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.1);
  color: #ccc;
  height: 400px;
}
.block-2 .profits .item .title {
  padding-top: 24px;
  font-size: 30px;
  color: #3d4e79;
  margin-right: -30px;
}
.block-2 .profits .item .text {
  padding-top: 10px;
  font-size: 18px;
  color: #6b7c93;
}
@media (max-width: 1360px) {
  .block-2 .profits .item {
    height: 450px;
  }
  .block-2 .profits .item img {
    max-width: 80px;
  }
  .block-2 .profits .item .title {
    font-size: 26px;
  }
  .block-2 .profits .item .text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .block-2 .profits .item {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .block-2 .profits .item img {
    max-width: 60px;
  }
  .block-2 .profits .item .title {
    font-size: 21px;
    line-height: normal;
  }
  .block-2 .profits .item .text {
    font-size: 14px;
  }
}
.block-3 {
  padding-top: 84px;
}
.block-3 .title {
  font-size: 40px;
  color: #3d4e79;
  text-align: center;
  padding-bottom: 45px;
}
@media (max-width: 480px) {
  .block-3 .title {
    font-size: 28px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .block-3 {
    padding-top: 40px;
  }
}
.block-3 .features {
  padding-top: 21px;
  padding-left: 33px;
  max-width: 600px;
}
.block-3 .features .item {
  padding-top: 50px;
}
.block-3 .features .item:first-child {
  padding-top: 0;
}
.block-3 .features .item img,
.block-3 .features .item span {
  display: inline-block;
  vertical-align: bottom;
}
.block-3 .features .item img {
  padding-right: 26px;
}
.block-3 .features .item span {
  font-size: 24px;
  text-transform: uppercase;
  color: #3d4e79;
}
.block-3 .features .item div {
  padding-top: 20px;
  font-size: 18px;
  color: #6b7c93;
}
@media (max-width: 1360px) {
  .block-3 .features {
    max-width: 400px;
  }
  .block-3 .features .item img {
    max-width: 80px;
  }
  .block-3 .features .item span {
    font-size: 18px;
  }
  .block-3 .features .item div {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .block-3 .features {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .block-3 .features {
    max-width: none;
    width: 100%;
    padding-left: 0;
  }
  .block-3 .features .item img {
    max-width: 60px;
    padding-right: 18px;
  }
  .block-3 .features .item span {
    font-size: 16px;
  }
  .block-3 .features .item div {
    font-size: 14px;
  }
}
.block-3 .box {
  text-align: center;
  position: relative;
  padding-right: 60px;
}
.block-3 .box img {
  display: inline-block;
}
.block-3 .box .try-container {
  position: absolute;
  top: 194px;
  left: 0;
  width: 100%;
  padding-left: 17px;
  padding-right: 44px;
}
.block-3 .box .try-container div {
  font-size: 70px;
  text-align: center;
  max-width: 370px;
  margin: 0 auto;
  color: #678bee;
}
.block-3 .box button {
  margin-top: 70px;
  background-color: #7a48fb;
  border-radius: 8px;
  min-width: 314px;
  font-size: 28px;
  line-height: 68px;
  color: #fff;
  font-weight: bold;
  border: none;
}
@media (max-width: 1360px) {
  .block-3 .box {
    max-width: 500px;
  }
  .block-3 .box .try-container {
    top: 136px;
    padding-right: 86px;
  }
  .block-3 .box .try-container div {
    width: 60%;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .block-3 .box {
    max-width: none;
    width: 100%;
    padding-right: 0;
    padding-top: 40px;
  }
  .block-3 .box .try-container {
    position: static;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .block-3 .box button {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .block-3 .box .try-container div {
    width: 100%;
    font-size: 28px;
  }
  .block-3 .box .try-container button {
    width: 100%;
    min-width: 0;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
  }
}
footer {
  background-color: #f6f9fc;
  min-height: 174px;
  padding-top: 24px;
  margin-top: 100px;
}
footer .text {
  padding-top: 18px;
  padding-left: 40px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: lighter;
  color: #6b7c93;
}
footer .social {
  padding-top: 20px;
}
footer .social .item {
  float: right;
  padding-left: 21px;
}
footer .social:after {
  content: "";
  display: block;
  clear: both;
}
footer .rights {
  padding-top: 50px;
  font-size: 15px;
  color: #6b7c93;
  font-weight: lighter;
  text-align: right;
}
@media (max-width: 767px) {
  footer .logo,
  footer .social,
  footer .rights {
    text-align: center;
  }
  footer .text {
    padding-left: 0;
    text-align: center;
  }
  footer .social .item {
    float: none;
    display: inline-block;
  }
  footer .social .item:first-child {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  footer {
    margin-top: 60px;
  }
  footer .text {
    font-size: 12px;
    line-height: normal;
  }
}
.line {
  position: absolute;
  z-index: 1;
}
.line.line2 {
  top: 820px;
  left: 0;
}
.line.line3 {
  top: 1450px;
  right: 30px;
}
